################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TradeCategorizer/bin/Debug/net8.0
/TradeCategorizer/obj
